[submodule "eggs"]
	path = eggs
	url = git://github.com/socialplanning/eggs.git
[submodule "build/requirements"]
	path = build/requirements
	url = git://github.com/socialplanning/build-requirements.git
